
.article.mixins.box_sizing

  %a.internal{name: 'mixins-box_sizing'}

  %h2 box-sizing
  %p Sets an element's box model.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +box-sizing($box_sizing)

  %h5 Notes
  %p.note The 'size' mixin also provides support for box-sizing (by @including 'box-sizing').

  %h5.examples{data: {action: 'activate', target: '.article.box_sizing .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          +box-sizing(border-box)
      .example_wrapper
        .example_one Size: 150 x 75 px<br/>includes padding
    %li
      .code_wrapper
        %code
          +box-sizing(content-box)
      .example_wrapper
        .example_two Size: 150 x 75 px<br/>excludes padding


