
.article.mixins.clearfix

  %a.internal{name: 'mixins-clearfix'}

  %h2 clearfix
  %p Automatically clears an element.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +clearfix


