
.article.mixins.font_face

  %a.internal{name: 'mixins-font_face'}

  %h2 font-face
  %p
    Adds a font family to project and binds it to WOFF/TTF/EOT/SVG files.<br/>
    Optionally creates a class witch uses this font family.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +font-face($font_family, $file_name [ , $class ] )

  %h5 Notes
  %p.note
    Fonts should be placed in /public/webfonts directory (defined in $webfonts_path variable).</br>
    Fonts should be named with '-webfont' suffix (defined in $webfonts_filename_suffix variable).</br>
    Class will be named 'font_$class'. Please note that class is just for testing purposes - it's not meant to be a solution for setting font.

  %h5.examples{data: {action: 'activate', target: '.article.font_face .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %p.language_name SASS
        %code
          %pre
            :preserve
              +font-face('ChunkFive', 'chunkfive')

              .example_one
                font-family: 'ChunkFive'
      .example_wrapper
        .example_one Set this font by 'font-family' property
    %li
      .code_wrapper
        %p.language_name SASS
        %code
          +font-face('Sansation regular', 'sansation_regular', 'sansation_regular')
        %p.language_name HAML
        %code
          :preserve
            .example_two.font_sansation_regular
      .example_wrapper
        .example_two.font_sansation_regular Set this font by adding a class


