
.article.mixins.font

  %a.internal{name: 'mixins-font'}

  %h2 font
  %p Sets various font properties (color, font-size, font-weight, font-style, text-align, text-decoration, text-transform, line-height)

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +font($arg_1 [ , $arg_2, $arg_3, .. , $arg_14, $arg_15 ] )

  %h5 Parameters
  %p.note
    <b>First numeric argument</b> is considered to be a <b>font-size</b> property.</br>
    <b>Second numeric argument</b> is considered to be a <b>line-height</b> property.</br>
    Each argument may represent one of the following:</br></br>
  %ul.parameters
    %li
      %code.var_name color
      %p.code_description color name / hex / RGBA
    %li
      %code.var_name font-size
      %p.code_description X px/em/%/pt
    %li
      %code.var_name font-weight
      %p.code_description 'lighter', 'light', 'no-weight' (will render as 'normal'), 'bold', 'bolder'
    %li
      %code.var_name font-style
      %p.code_description 'no-style' (will render as 'normal'), 'italic', 'oblique'
    %li
      %code.var_name text-align
      %p.code_description 'left', 'right', 'center', 'justyfy'
    %li
      %code.var_name text-decoration
      %p.code_description 'undeline', 'overline', 'line-through', 'blink', 'no-decoration' (will render as 'none')
    %li
      %code.var_name text-transform
      %p.code_description 'capitalize', 'uppercase', 'lowercase', 'no-transform' (will render as 'none')
    %li
      %code.var_name line-height
      %p.code_description X px/em/%/pt
    %li
      %code.var_name font-family
      %p.code_description font name to be added to font-family property

  %h5.examples{data: {action: 'activate', target: '.article.font .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          +font(rgba(255,0,0,1))
      .example_wrapper
        .example_one Grumpy wizards make toxic brew for the evil Queen and Jack.
    %li
      .code_wrapper
        %code
          +font(22px, green, bold, italic, uppercase, line-through, 'Times new roman', arial)
      .example_wrapper
        .example_two Grumpy wizards make toxic brew for the evil Queen and Jack.
    %li
      .code_wrapper
        %code
          %pre
            :preserve
              font-weight: bold
              font-style: italic
              +font(18px, #0000ff, no-weight, no-style, capitalize, underline, 80px, center, 'Trebuchet MS', Verdana, system)
      .example_wrapper
        .example_three Grumpy wizards make toxic brew for the evil Queen and Jack.


