
.article.mixins.gradient_linear_vertical

  %a.internal{name: 'mixins-gradient_linear_vertical'}

  %h2 gradient-linear-vertical
  %p Sets background of an element to linear, vertical gradient.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +gradient-linear-vertical($color_from, $color_to [ , $balance_point ] )

  %h5 Notes
  %p.note $balance_point is not supported in IE8-9.

  %h5 Default values
  %ul.parameters
    %li
      %code $balance_point
      %code.var_type 50%

  %h5.examples{data: {action: 'activate', target: '.article.gradient_linear_vertical .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          +gradient-linear-vertical(pink, red)
      .example_wrapper
        .example_one
    %li
      .code_wrapper
        %code
          +gradient-linear-vertical(rgba(0, 255, 0, 1), #0000ff, 75%)
      .example_wrapper
        .example_two


