
.article.mixins.opacity

  %a.internal{name: 'mixins-opacity'}

  %h2 opacity
  %p Sets opacity of an element.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +opacity($value)

  %h5.examples{data: {action: 'activate', target: '.article.opacity .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          %pre
            :preserve
              background: red
              +opacity(0.25)
      .example_wrapper
        .example_one
    %li
      .code_wrapper
        %code
          %pre
            :preserve
              background: red
              +opacity(0.75)
      .example_wrapper
        .example_two


