
.article.mixins.placeholder_color

  %a.internal{name: 'mixins-placeholder_color'}

  %h2 placeholder-color
  %p Sets a color of placeholders in inputs and textareas.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +placeholder-color($color)

  %h5 Notes
  %p.note
    Opera does not support placeholder styling yet. <br/>
    IE up to and including IE 9 does not support placeholders at all.</br>
    Since the above please treat this mixin as Pareto principle solution only.

  %h5.examples{data: {action: 'activate', target: '.article.placeholder_color .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          +placeholder-color(#0000ff)
      .example_wrapper
        %form.example_one
          %input{placeholder: "input"}
          %textarea{placeholder: "textarea"}
    %li
      .code_wrapper
        %code
          +placeholder-color(red)
      .example_wrapper
        %form.example_two
          %input{placeholder: "input"}
          %textarea{placeholder: "textarea"}


