
.article.mixins.position

  %a.internal{name: 'mixins-position'}

  %h2 position
  %p Sets a position type, corresponding horizontal and vertical offsets and z-index of an element.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +position-left-top($position, $x_offset, $y_offset [ , $z_index ] )
    %li
      %code
        +position-right-top($position, $x_offset, $y_offset [ , $z_index ] )
    %li
      %code
        +position-right-bottom($position, $x_offset, $y_offset [ , $z_index ] )
    %li
      %code
        +position-left-bottom($position, $x_offset, $y_offset [ , $z_index ] )

  %h5 Default values
  %ul.parameters
    %li
      %code $z_index
      %code.var_type 0

  %h5.examples{data: {action: 'activate', target: '.article.position .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          +position-left-top(relative, 10px, 5px)
    %li
      .code_wrapper
        %code
          +position-right-bottom(absolute, 50%, 50%, 10)


