
.article.mixins.reset

  %a.internal{name: 'mixins-reset'}

  %h2 reset
  %p Resets element's styles.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +reset( [ $hard ] )

  %h5 Notes
  %p.note
    This mixin resets 50+ various CSS styles, but still has to be followed by some additional styles like 'color', 'cursor', 'display', 'font-family' or :hover styles.</br>
    Designed as bread and butter for bookmarklets styling.</br>
    Calling +reset(true) will make all styles reset with !important flag.

  %h5 Default values
  %ul.parameters
    %li
      %code $hard
      %code.var_type false

  %h5.examples{data: {action: 'activate', target: '.article.reset .examples'}} Examples
  %ul.examples
    %li
      %p.title Resetting element styles
      .code_wrapper
        %code
          :preserve
            +reset(true)
      .example_wrapper
        .example Lorem ipsum

