
.article.mixins.size

  %a.internal{name: 'mixins-size'}

  %h2 size
  %p
    Sets width and height of an element.<br/>
    Optionally sets box-sizing.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        +size($width [ , $box_sizing | , $height, $box_sizing ] )

  %h5 Default values
  %ul.parameters
    %li
      %code $height
      %code.var_type $width

  %h5.examples{data: {action: 'activate', target: '.article.size .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          +size(50px)
      .example_wrapper
        .example_one
    %li
      .code_wrapper
        %code
          +size(100px, 50px)
      .example_wrapper
        .example_two
    %li
      .code_wrapper
        %code
          +size(50%, auto, border-box)
      .example_wrapper
        .example_three
    %li
      .code_wrapper
        %code
          +size(5em, 3em, content-box)
      .example_wrapper
        .example_four
    %li
      .code_wrapper
        %code
          +size(50px, border-box)
      .example_wrapper
        .example_five


