
.article.functions.factorial

  %a.internal{name: 'functions-factorial'}

  %h2 factorial
  %p SASS factorial function.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        factorial($x)

  %h5.examples{data: {action: 'activate', target: '.article.factorial .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          %pre
            :preserve
              width: factorial(5) * 1px
              height: factorial(4) * 1px
              border-width: factorial(2) * 1px
      .example_wrapper
        .example


