
.article.functions.power

  %a.internal{name: 'functions-power'}

  %h2 power
  %p SASS power function.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        power($x, $n)

  %h5.examples{data: {action: 'activate', target: '.article.power .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          %pre
            :preserve
              width: power(16, 2) * 1px
              height: power(2, 5) * 1px
              border-width: power(5, 1) * 1px
      .example_wrapper
        .example


