
.article.functions.square_root

  %a.internal{name: 'functions-square_root'}

  %h2 square root
  %p SASS Square root function.

  %h5 Syntax
  %ul.syntax
    %li
      %code
        sqrt($x)

  %h5 Notes
  %p.note
    Takes EXTREMLY long time to compile for 2+ digits parameters, use with caution.

  %h5.examples{data: {action: 'activate', target: '.article.square_root .examples'}} Examples
  %ul.examples
    %li
      .code_wrapper
        %code
          %pre
            :preserve
              width: sqrt(4) * 100px
              height: sqrt(16) * 10px
              border-width: sqrt(25) * 1px
      .example_wrapper
        .example



